pandas
numpy
jupyter
ipykernel
matplotlib
scikit-learn
pytest
mlflow
optuna
joblib
fastapi
uvicorn
tensorflow
sentence-transformers
faiss-cpu
langchain
langchain-openai
langchain-groq
langchain-ollama
langgraph
shap
apache-airflow
